.vscode
history.csv
monitor.py
shoonya_test.py
test_position.csv
monitor_local.py
*.log
*.pyc
*.ipynb
test.py
app.log
.~lock*
logs/app.log
*.sh
simulator.py
system.py
env
credentials.py
logs/*
results/*
entry_trade.csv
logs/app.log
Positions/nifty_pos_2.csv
logs/app.log
creds.yml
logs/app.log
